<%- include('partials/header.ejs') %>
<div>
  <h1>
    <%= pokemon.name %>
  </h1>
  <form method="POST" action="/parties">
          
    <button class="submitParty" type="submit">Add to Party</button>
    <input hidden value="<%= pokemon.name %>" name="name" />
    <select name="party" id="party">
      <option value="Party 1">Party 1</option>
      <option value="Party 2">Party 2</option>
      <option value="Party 3">Party 3</option>
    </select>
  </form>    
</div>




<%- include('partials/footer.ejs') %>